.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

#room-btn {
    color: white;
}

    #room-btn:hover {
        color: white;
        border-color: white;
    }

    #room-btn:focus {
        box-shadow: none;
    }

.dropdown-menu-center {
    right: auto;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#connection-indicator {
    color: red;
}

    #connection-indicator.connecting {
        color: yellow;
    }

    #connection-indicator.connected {
        color: lightgreen;
    }

.message-list-container {
    overflow-y: scroll;
    background: linear-gradient(to bottom, rgb(142, 178, 174), rgb(93, 156, 145));
}

.message-list {
    padding: 1em 1em 0 1em;
}

.message {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 231, 232));
    margin-bottom: 1em;
    margin-right: 2em;
    padding: 0.3em 0.5em 0.5em 0.5em;
    border-radius: 5px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: small;
    color: rgb(144, 0, 255);
}

.message-sender {
    font-weight: bold;
}

.message-time {
    font-size: x-small;
}

.message-body {
    margin-top: 0.2em;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: small;
}

    .message-body img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.message.own {
    background: linear-gradient(to bottom, rgb(156, 251, 153), rgb(136, 231, 133));
    margin-left: 2em;
    margin-right: 0;
}

    .message.own .message-header {
        color: rgb(2, 113, 102);
    }

.new-message-container {
    background-color: rgb(33, 37, 41);
}

.new-message-area {
    flex-grow: 1;
    overflow: hidden;
    resize: none;
}

.send-message-btn {
    width: 2rem;
    background: linear-gradient(to right, rgb(61, 35, 211), rgb(52, 133, 231));
    padding: 0;
    border: none;
    outline: none;
}

    .send-message-btn i {
        color: white;
        padding: 0.2em;
    }

    .send-message-btn:hover {
        background: linear-gradient(to right, rgb(107, 83, 242), rgb(125, 161, 233));
    }

        .send-message-btn:hover i {
            color: rgb(18, 2, 142);
        }
