<HeadContent>
    <style type="text/css">
        .page {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        main {
            flex-grow: 1;
            height: 100%;
            min-height: 0;
            display: flex;
            flex-direction: column;
        }
    </style>

    <script src="signalr/dist/browser/signalr.min.js"></script>
    <script src="squirrelly/dist/browser/squirrelly.min.js"></script>
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="Components/Chat.razor.js"></script>
    <script type="module">
        $(function () {
            new ChatController();
        });
    </script>
</HeadContent>

<div class="message-list-container flex-grow-1 d-flex flex-column-reverse">
    <div class="message-list container"></div>
    <div class="message-sentinel" style="height:1px;flex-shrink:0;"></div>
</div>
<div class="new-message-container">
    <div class="container d-flex p-2">
        <textarea rows="1" class="new-message-area flex-grow-1"></textarea>
        <button class="send-message-btn">
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
</div>

<script id="message-template" type="text/template">
    <div class="message-header" ssr-chat-scope>
        <span class="message-sender" ssr-chat-scope>{{it.sender}}</span>
        <span class="message-time" ssr-chat-scope>15:30:22</span>
    </div>
    <div class="message-body" ssr-chat-scope>
        {{it.html | safe}}
    </div>
</script>

@code {

}
