<nav data-bs-theme="dark" class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <img src="_content/DChat.Application.Shared.ClientServer/dchat_logo.svg" />
        <SectionOutlet SectionName="nav-bar-section" />
        <AccountMenu />
    </div>
</nav>